.layout {
  display: flex;
  min-height: 100vh;
  background: #f4f6f9;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #111827;
  color: white;
  padding: 25px 20px;
}

.sidebar h2 {
  font-size: 18px;
  margin-bottom: 25px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
}

.sidebar a {
  padding: 10px 14px;
  margin-bottom: 8px;
  border-radius: 6px;
  text-decoration: none;
  color: #d1d5db;
  font-size: 14px;
}

.sidebar a:hover,
.sidebar a.active {
  background: #2563eb;
  color: white;
}

/* CONTENT */
.content {
  flex: 1;
  padding: 40px;
}
.layout {
  display: flex;
  min-height: 100vh;
  background: #f4f6f9;
}

.sidebar {
  width: 220px;
  background: #111827;
  color: white;
  padding: 25px 20px;
}

.content {
  flex: 1;
  padding: 30px;   /* 🔥 juste un petit espace propre */
}